# Common
secret_config.yaml
*.tar
*.sql

# Python pyc files
*.pyc
ca.key
ca.csr
ca.srl
ca.crt
vision.harbor.core.crt
vision.harbor.core.csr
vision.harbor.core.key
secret.yaml

# Python __pycache__ directory
__pycache__/
